.slider-container {
  position: relative;
  width: 100%;
  padding-bottom: 45px;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  background: #6b7177 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #1f4b3f !important;
}
